/* Navbar Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* Logo Styles */
.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

/* Navigation Links Styles */
.navlink a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navlink a:hover {
    color: #ff9900;
    /* Change color on hover */
}

/* Active Link Styles */
.navlink a.active {
    color: #ff9900;
}

.home{
    text-align: left;
    margin: 20px;
}